body{
text-align:center;
font-family:Arial;
background:linear-gradient(to right,#ff9a9e,#fad0c4);
}

h1{
color:#fff;
}

button{
padding:10px 20px;
margin:10px;
background:#ff4081;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

input{
padding:10px;
margin:10px;
}

#wish{
font-size:22px;
margin-top:20px;
color:#333;
}

#preview{
margin-top:20px;
border-radius:10px;
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}